<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.SharePoint.Client, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.SharePoint.IdentityModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.0"/>
    <identity impersonate="false"/>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1"/>
      <error statusCode="401" prefixLanguageFilePath="" path="http://google.com" responseMode="Redirect"/>
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <!--
            Allow Web API to be called from a different domain.
            http://dlr2008.wordpress.com/2012/04/26/asp-net-web-api-cross-domain-ajax-and-server-techniques-jsonp-and-cors/
            -->
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="DownloadedFilesFolder" value="C:\Projects\MobileApps\DESR\DownloadedFiles\"/>
    <add key="SingleEmail" value="fhabib@xelleration.com"/>
    <add key="GroupEmails" value="fhabib@xelleration.com;upasha@tams.com"/>
    <add key="SMTPEmailServer" value="tusspdev1"/>
    <add key="DownloadedFilesSite" value="http://tusspdev1/sites/busops"/>
    <add key="GetUserInfoURL" value="http://tusspdev1/VirtualApps/ENTWebs/TAMS.ENT.SQLTOREST.Web/svc.aspx?op=GetData&amp;conn=TestConnString&amp;cmd=EXEC%20prd_FilterByEmployeeEmail%20@EmployeeStatus%20=%20N%27T%27,%20@Email%20=%20N%27[EMAILADDRESS]%27"/>
    <add key="SQLConnection" value="Data Source=tusspdevdb;Initial Catalog=CustomAPP_WSS_Log;User ID=wss_dev_user;Password=pass@word123;"/>
  </appSettings>
</configuration>